modules = ["python-3.12"]
run = "streamlit run app.py"

[nix]
channel = "stable-24_05"
packages = ["glibcLocales"]

[deployment]
run = ["sh", "-c", "streamlit run app.py"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8501
externalPort = 80

[[ports]]
localPort = 8502
externalPort = 3000

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 43683701
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run app.py --server.port=5000 --server.address=0.0.0.0"
