
pandas==2.2.2
streamlit==1.39.0
numpy==1.26.4
plotly==5.17.0
openpyxl==3.1.2
streamlit-aggrid==0.3.4
fpdf2==2.7.6
psutil==5.9.8
passlib==1.7.4
PyJWT==2.8.0
google-auth==2.23.3
google-auth-oauthlib==1.1.0
google-api-python-client==2.103.0
bcrypt==4.0.1
apscheduler
bcrypt
cryptography
flask
flask-cors
fpdf
fpdf2
google-api-python-client
google-auth
google-auth-oauthlib
numpy
openpyxl
pandas
passlib
plotly
psutil
PyJWT
python-dateutil
schedule
streamlit
streamlit-aggrid
